<!doctype html>
<html lang="en" ng-app="golfApp">
<head>
  <meta charset="utf-8">
  <title>Golf Application</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="GolfCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

      </div>
      <div class="col-md-6">
        <!--Body content-->
        <h2>Vesper Front Nine</h2>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Hole number</th>
	      <th>Par</th>
	      <th>Length</th>
	    </tr>
	  </thead>
	  <tbody>
	    
          <tr ng-repeat="h in holes | filter:query">
            <td>{{h.hole}}</td>
	    <td>{{h.par}}</td>
	    <td>{{h.length}}</td>
	  <tr>
        </tbody>

      </div>
    </div>
  </div>

</body>
</html>
